{% extends "registration/base.html" %} 
{% load bootstrap4 %} 
{% load static %} 
{% block content %}

<div class="container" style="background-color: white;">
  <div class="row">

    <div class="col-md-6 mt-5">
      <!-- <img class="thumbnail" src="{% static 'images/' %}" style="height:448px;width:597px;"> -->

      <div class="card mt-5" style="width: 27rem;">
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: 'Ranga', cursive;">Have an account already?</h5>
          <h2 style="color:grey;font-size:10px; font-family: 'Ranga', cursive; "> sign up.</h2>
          <a href="/accounts/login" class="btn btn-primary" style="font-family: 'Ranga', cursive;">Login</a>
        </div>
      </div>

      <div class="card mt-5" style="width: 28rem;">
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: 'Ranga', cursive;">Get the app.</h5>
          <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=en">Android</a><br>
          <a href="https://itunes.apple.com/ke/app/instagram/id389801252?mt=8"> Iphone</a>
        </div>
      </div>

    </div>

    <div class="col-md-5 mt-5">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card border-primary mb-4" style="max-width:23rem;">

        <div class="card-header text-center">
          <h1 class="h1" style="  color: #2196f3;font-size:67px;">Awards</h1>
          <h3 class="text-center" style="color:#e0e0e0;font-size:17px;">Sign up to review and rate projects</h3>
        </div>
        <div class="card-body text-primary">

          <form action="/accounts/register/" method="post" style="font-family: 'Ranga', cursive;">
            {% csrf_token %} 
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>

  </div>
  <br>
   
</div>
{% endblock %}